<header>
  <h1>Todo List</h1>
</header>

<main>
  <section>
    <h2>Add a Todo</h2>

    <form (submit)="onSubmit($event)">
      <div>
        <label for="text">
          <input
            type="text"
            name="text"
            placeholder="Enter text"
            [value]="text"
            (change)="text = $event.target.value"
          />
        </label>
      </div>

      <div *ngIf="textError">
        <label>{{ textError }}</label>
      </div>

      <div>
        <label for="completed">Completed</label>
        <input
          type="checkbox"
          name="completed"
          [checked]="completed"
          (change)="toggleCompleted()"
        />
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </section>

  <section>
    <h2>Todos</h2>

    <ul>
      <li *ngFor="let todo of todos">
        <p>{{ todo.text }}</p>
        <input type="checkbox" [checked]="todo.completed" />
      </li>
    </ul>
  </section>
</main>
